.HA_VERSION

.storage
.cloud
deps
tts
venv
.venv
hass.py
.env

.idea
*.yaml
!/.github/workflows/*.yaml
!/.github/ISSUE_TEMPLATE/*.yaml

*.yml
!/.github/workflows/*.yml
!/.github/ISSUE_TEMPLATE/*.yml

*.db
*.log
!hacs.json
/venv/

__pycache__
custom_components/loxone/homeassistant
.vscode
loxone_token.json
coverage.xml

.mypy_cache 
.pytest_cache 
.ruff_cache